* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  text-decoration: none;
  font-size: 62.5%;
  font-family: "Arial", sans-serif;
}

header {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  height: 8rem;
  z-index: 5;


  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

header ul {
  display: flex;
}

header ul li:not(li:first-child) {
  margin-left: 1.6rem;
}

header ul li a {
  display: inline-block;
  padding: 1rem;
  border: 2px solid black;
  font-size: 1.8rem;
  border-radius: 5px;
  color: black;

  transition: color .3s, background .3s;
}

header ul li a:hover {
  background-color: black;
  color: white;
}

.blue {
  background-color: blue;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

section h1 {
  font-size: 3rem;
  color: white;
}

section {
  width: 100%;
  height: calc(100vh - 8rem);
  /******************/

  display: flex;
  justify-content: center;
  align-items: center;
}